{:dependencies [[zprint "1.2.9"]]

 :source-paths ["src"]

 :builds       {:extension {:target    :node-library
                            :exports   {:activate
                                        vscode-clj-zprint.core/activate}
                            :output-to "extension.js"
                            :compiler-options {:optimizations :simple}}}}
